@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

* {
    background: #3b4f66;
    padding: 0px;
    margin: 0px;
    font-family: 'Dosis', sans-serif;
    color: white;
}

h1 {
    font-size: 24px;
}

h2 {
    color: #7CD569;
}

h3 {
    font-size: 22px;
}

p {
    font-size: 18px;
}

li {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}


ul li a {
    color: white;

}

#container {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr 1fr 150px;
}

/* Header */
#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
    padding-left: 70px;
}

.logo img {
    width: 100px;
}

.logo a h1 {
    text-decoration: none;
}


/* nav */


#nav-container {
    font-weight: bold;
}

#nav-container ul {
    display: flex;

    padding-right: 70px;

}

#nav-container li {
    margin: 15px;
}

#nav-container a {
    transition: 0.5s;
}

#nav-container a:hover {
    color: #7CD569;
    border-bottom: 1px solid #7CD569;
    font-size: 1.125em;
}

.fix a {
    color: #7CD569;
    border-bottom: 1px solid #7CD569;
}


/* main */

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main h2 {
    font-size: 40px;
    border-bottom: 2px solid #7CD569;
    margin-bottom: 15px;
}

main #content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img-seguro img {
    width: 600px;
    border: 1px solid white;
    border-radius: 42%;
    margin: 15px;
    transition: 1s;
}

.img-seguro img:hover {
    width: 650px;
    border: 1px solid white;
    border-radius: 42%;
    margin: 15px;
}

/* Section */

/* Primeira section */

#section-container {
    background: #b0c6dd;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5%;
}


.imagem-container {
    background: #b0c6dd;
    width: 250px;
}

.imagem-container img {
    background: #b0c6dd;
}

.imagem-container p {
    color: #1b2e42;
    background-color: #b0c6dd;
    font-size: 18px;
}

.imagem-container h3 {
    background-color: #b0c6dd;
    color: #3e4968;
    font-size: 30px;
    margin-left: 10px;
}


.imagem-desmonstration {
    width: 150px;
    transition: 1s;
}

.imagem-desmonstration:hover {
    width: 200px;
}

/* Section transparencia */

#section-transparencia {
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-transparencia {
    width: 400px;
    margin-right: 100px;
}

#section-transparencia img {
    border-radius: 100%;
    width: 300px;
    margin: 50px 0;
    border: 3px solid #57eb66;
    transition: 1s;
}

#section-transparencia img:hover {
    border-radius: 100%;
    width: 350px;
    margin: 50px 0;
}

#section-transparencia h3 {
    font-size: 36px;
    color: #57eb66;
}

/*  Section prototipo  */

#main-prototipo {
    display: flex;
    background-color: #0f0d0e;
    border-radius: 5%;
    height: 500px;
    justify-content: center;
    align-items: center;
}



#main-prototipo div,
#main-prototipo p,
#main-prototipo h3 {
    background-color: #0f0d0e;
    color: white;
}

#main-prototipo img {
    border-radius: 25%;
}



/* ultima section */

#ultimasection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}



#ultimasection-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    background: #1b2e42;
    border-radius: 50%;
}

#ultimasection-text,
#ultimasection-text h3,
#ultimasection-text p,
#ultimasection-text a {
    background: #b2c1df;
}

#ultimasection-text h3 {
    font-size: 36px;
    color: #1b2e42;
}

#ultimasection-text p {
    font-size: 24px;
}

#ultimasection-img {
    background: #3e4968;
}


#ultimasection button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #57eb66;
    transition: 0.8s;
}

#ultimasection button:hover {
    border: none;
    color: #57eb66;
    padding: 25px 40px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #1b2e42;
    border-radius: 15%;
}

/* footer */

footer {
    border-top: 1px solid #1b2e42;
    /*  background: #1b2e42; */
}



#footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.sociais-container {
    display: flex;
}

.logo-redes-sociais img {
    width: 45px;
    padding: 10px;

}

/* pagina de produto */

.imagem-seguro-auto {
    display: flex;

}

.text-auto {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

h3 {
    color: #7CD569;
}

.seguro-vida,
.seguro-auto {
    display: flex;
}

.seguro-img {
    width: 600px;
    border: 1px solid white;
    border-radius: 42%;
}

/* Responsividade  */

@media only screen and (max-width: 600px) {

    /* Pagina do Home */

    #container {
        width: 100vw;
    }


    main #content {
        display: flex;
        flex-direction: column;
    }

    #section-container {
        flex-direction: column;
        height: 1000px;
    }

    #main-prototipo {
        flex-direction: column;
    }


}