@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

* {
    background: #3b4f66;
    padding: 0px;
    margin: 0px;
    font-family: 'Dosis', sans-serif;
    color: white;
}

h1 {
    font-size: 24px;
}

h2 {
    color: #7CD569;
}

li {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}


ul li a {
    color: white;

}

#container {
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 1fr 150px;
}

/* Header */
#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    display: flex;
    align-items: center;
    padding-left: 70px;
}

.logo img {
    width: 100px;
}

.logo a h1 {
    text-decoration: none;
}


/* nav */


#nav-container {
    font-weight: bold;
}

#nav-container ul {
    display: flex;

    padding-right: 70px;

}

#nav-container li {
    margin: 15px;
}

#nav-container a {
    transition: 0.5s;
}

#nav-container a:hover {
    color: #7CD569;
    border-bottom: 1px solid #7CD569;
    font-size: 1.125em;
}

.fix a {
    color: #7CD569;
    border-bottom: 1px solid #7CD569;
}


/* main */

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

main h2 {
    font-size: 40px;
    border-bottom: 2px solid #7CD569;
    margin-bottom: 15px;
}

main #content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.img-seguro img {
    width: 550px;
}

/* Section */

#section-container {
    background: #b0c6dd;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5%;
}


.imagem-container {
    background: #b0c6dd;
    width: 250px;
}

.imagem-container img {
    background: #b0c6dd;
}

.imagem-container p {
    color: #1b2e42;
    background-color: #b0c6dd;
    font-size: 18px;
}

.imagem-container h3 {
    background-color: #b0c6dd;
    color: #00cf68;
    font-size: 24px;
}


.imagem-desmonstration {
    width: 150px;
}



/* footer */

footer {
    border-top: 1px solid #1b2e42;
    /*  background: #1b2e42; */
}



#footer-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.sociais-container {
    display: flex;
}

.logo-redes-sociais img {
    width: 45px;
    padding: 10px;

}

/* color: #81de68*/